body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
.navColor {
    background-color: green;
}

/*seccion uno*/
.colorUno {
  background-color: rgb(159, 208, 144);
  }

.div {
  background-color:  rgb(159, 208, 144);
}